@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --fonte-padrao: Arial, verdana, helvetica, sans-serif;
  --fonte-destaque: "Playfair", serif;
  --fonte-textual: "Cormorant Garamond", serif;
}
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
  color: black;
  min-height: 100vh;
  min-width: 400px;
}

header {
  background-color: black;
  min-height: 150px;
  color: white;
  padding-top: 20px;
  margin: auto;
  background-image: url(JOAOBATISTA-066.png);
  background-repeat: no-repeat;
  background-position: center center;
  
}

header > h1 {
  padding-top: 700px;
  text-align: center;
  font-size: 23px;
  font-family: var(--fonte-destaque);
  font-weight: bold;
  margin: auto;
}

header > nav {
  padding-right: 40px;
  text-indent: 30px;
  text-align: right;
  margin: auto;
  
}

nav > a {
  color: white;
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-family: var(--fonte-destaque);
  font-weight: bold;
  font-size: 23px;
  letter-spacing: 2px;
  background-color: rgba(255, 0, 0, 0.144);
  border-style: solid;
  border-width: thin;
  margin: auto;
}

nav > a:hover {
  background-color: rgba(255, 0, 0, 0.678);
  transition-duration: 0.8s;
}

main {
  background-color: black;
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  min-height: 100vh;
  padding-right: 50px;
  padding-left: 50px;
  color: white;
  text-align: center;
}

main > P {
  color: white;
  padding-bottom: 40px;
  font-family: var(--fonte-textual);
  font-weight: bolder;
  font-size: xx-large;
  padding-top: 80px;
  padding-bottom: 80px;
  
}

main > span {
  color: white;
  font-family: var(--fonte-textual);
  font-weight: bold;
  font-size: 27px;
}
article {
  padding-top: 70px;
  margin: auto;
  text-align: center;
  min-width: 300px;
  max-width: 1000px;
  background-color: black;
}

div.bloco {
  height: 200px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 10px;
  padding: 60px;
  text-align: center;
  margin: auto;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  max-width: 1000px;
  font-family: var(--fonte-textual);
  font-weight: bold;
  font-style: italic;
}

div.bloco > a {
  text-decoration: none;
  color: white;
  font-size: x-large;
  background-color: rgba(255, 0, 0, 0.158);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.178);
  padding: 4px;
  border-radius: 3px;
}

div.bloco > a:hover {
  background-color: rgba(255, 0, 0, 0.377);
  padding: 5px;
  border-radius: 7px;
  transition-duration: 0.5s;
}

div#q1 {
  background-image: url(imobiliaarionovo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
}

div#q2 {
  background-image: url(contratosnovo.jpg);
  background-position: center center;
  background-repeat: repeat;
}

div#q3 {
  background-image: url(previdenciario.jpeg);
  background-position: center center;
  background-repeat: repeat;
}
div#q4 {
  background-image: url(trabalhistaultimadeus.jpg);
  background-position: center center;
  background-repeat: no-repeat;
}

div#q5 {
  background-image: url(agrariofoto.jpg);
  background-position: center center;
}

aside {
  background-color: rgba(211, 211, 211, 0.336);
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  padding-bottom: 100px;
  min-height: 100vh;
  padding-right: 70px;
  padding-left: 70px;
  font-family: var(--fonte-textual);
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 20px;
}

aside > h2 {
  padding-top: 40px;
  font-family: var(--fonte-textual);
  color: red;
  padding-bottom: 40px;
}

footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  color: white;
  font-family: var(--fonte-padrao);
  font-family: var(--fonte-textual);
}

footer > h3 {
  padding-top: 50px;
  font-family: var(--fonte-textual);
}

footer p {
  padding-top: 30px;
  font-family: var(--fonte-textual);
  font-size: 20px;
}

p > a {
  color: red;
  text-decoration: none;
}
